<div class="container-fluid imagen-inicio">
    <h1>Fortalecimiento Empresarial</h1>
    <h5>Cooperativa de Acompañamiento Organizacional</h5>
</div>



<div class="container-fluid seccion-1">
    <div class="row align-items-center custom-row">

        <div class="col-md-6 carrusel-col">
            <div class="carrusel">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel"
                    data-bs-interval="3000">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="img/ejemplo-carrusel-1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="img/ejemplo-carrusel-2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="img/ejemplo-carrusel-3.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6 razones">
            <h2 class="titulo">Buscamos</h2>
            <h5>Impulsar el desarrollo de las empresas a través de un acompañamiento integral y personalizado.</h5>

            <span class="numbers">
                +
                <span class="numbers" [countUp]="1000" [duration]="2000"></span>
            </span>

            <h5>Personas formadas</h5>

            <span class="numbers">
                +
                <span class="numbers" [countUp]="1000" [duration]="2000"></span>
            </span>
            <h5>Empresas con resultados reales</h5>
            <span class="numbers" [countUp]="123" [duration]="2000"></span>

            <h5>Capacitaciones dictadas</h5>

        </div>
    </div>

</div>


<div class="container-fluid seccion-2">
  <div class="row custom-row">
    <div class="col-12 col-md-6 texto">
      <h2 class="titulo">¿Quiénes somos?</h2>
      <h5>Somos una cooperativa dedicada a fortalecer el tejido empresarial mediante un acompañamiento organizacional integral, personalizado y adaptado a las necesidades de cada empresa.</h5>
    </div>

    <div class="col-12 col-md-6 col-imagen">
      <img src="img/quienes-somos.jpg" class="img-fluid" alt="Imagen de la sección 2">
    </div>
  </div>
</div>