<footer class="site-footer text-center text-lg-start">
    <div class="container-fluid footer-container px-5 py-4">

        <!-- Columna 1 -->
        <div class="footer-col">
            <h6 class="text-uppercase fw-bold mb-4">Navegación</h6>
            <nav class="links">
                <a href="#" class="text-reset">Inicio</a>
                <a href="#" class="text-reset">Nosotros</a>
                <a href="#" class="text-reset">Servicios</a>
                <a href="#" class="text-reset">Contacto</a>
            </nav>
        </div>

        <!-- Columna 2 -->
        <div class="footer-col">
            <h6 class="text-uppercase fw-bold mb-4">Conecta con nosotros</h6>
            <div class="social-links">
                <a href="#" class="text-reset d-flex align-items-center gap-2" aria-label="Facebook">
                    <i class="fab fa-facebook"></i> <span>Facebook</span>
                </a>
                <a href="#" class="text-reset d-flex align-items-center gap-2" aria-label="Instagram">
                    <i class="fab fa-instagram"></i> <span>Instagram</span>
                </a>
                <a href="#" class="text-reset d-flex align-items-center gap-2" aria-label="LinkedIn">
                    <i class="fab fa-linkedin"></i> <span>LinkedIn</span>
                </a>
                <a href="#" class="text-reset d-flex align-items-center gap-2" aria-label="WhatsApp">
                    <i class="fab fa-whatsapp"></i> <span>WhatsApp</span>
                </a>
            </div>
        </div>
        <!-- Columna 3 Certificados -->
        <div class="footer-col">
            <h6 class="text-uppercase fw-bold mb-4 ">Nuestros certificados</h6>
            <div class="social-links text-center">
                <!-- Documentos de acreditación -->
                <a href="documents/Resolucion_UAEOS.pdf" target="_blank" rel="noopener noreferrer" class="text-reset ">
                    Resolución UAEOS.
                </a>
                <a href="documents/Sello_calidad.pdf" target="_blank" rel="noopener noreferrer" class="text-reset ">
                    Sello de calidad Unidad Solidaria.
                </a>
            </div>
        </div>

        <!-- Columna 4 Contacto -->
        <div class="footer-col">
            <h6 class="text-uppercase fw-bold mb-4 ">Contáctanos</h6>
            <div class="social-links text-center">
                <!-- Dirección: abre Google Maps -->
                <a href="https://www.google.com/maps/place/Ave+Cra+30+%2375-61,+Bogot%C3%A1,+Colombia/@4.67091,-74.071163,15z/data=!4m6!3m5!1s0x8e3f9afeb2b1446d:0xa75188a78eff3a9c!8m2!3d4.6709101!4d-74.0711627!16s%2Fg%2F11sm73_4r6?hl=es-CO&entry=ttu&g_ep=EgoyMDI1MDgyNC4wIKXMDSoASAFQAw%3D%3D"
                    target="_blank" rel="noopener noreferrer" class="text-reset ">
                    Bogotá, Colombia,
                </a>
                <a href="https://www.google.com/maps/place/Ave+Cra+30+%2375-61,+Bogot%C3%A1,+Colombia/@4.67091,-74.071163,15z/data=!4m6!3m5!1s0x8e3f9afeb2b1446d:0xa75188a78eff3a9c!8m2!3d4.6709101!4d-74.0711627!16s%2Fg%2F11sm73_4r6?hl=es-CO&entry=ttu&g_ep=EgoyMDI1MDgyNC4wIKXMDSoASAFQAw%3D%3D"
                    target="_blank" rel="noopener noreferrer" class="text-reset ">
                    Cra.30 N°75-61 Of:503
                </a>

                <!-- Correo: abre cliente de correo -->
                <a href="mailto:joalfaroc@unal.edu.co? Subject=Hola%20quisiera%20saber%20más" class="text-reset">
                    administrativo&#64;dinamizarsoluciones.com
                </a>

                <!-- Teléfonos: abre llamada -->
                <a href="tel:+573013829718" class="text-reset">
                    +57 3013829718 /
                </a>
                <a href="tel:+573106881321" class="text-reset">
                    +57 3106881321
                </a>
            </div>
        </div>



    </div>
</footer>